* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #282847;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  min-height: 100vh;
}

.wrapper h1 {
  text-align: center;
  padding: 10px;
}

.wrapper {
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.generated-pass {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid  #9b59b6 ;
  margin-bottom: 20px;
}

.generated-pass input {
  width: 50%;
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

#copy {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin-left: auto;
}

.bi-copy {
  font-size: 20px;
  color: #3f3f3f;
}

input:not([type="checkbox"]), button{
  appearance: none;
  outline: none;
  border: none;
  background: none;
}

input[type="checkbox"]{
  cursor: pointer;
}

.attr {
  color: #3d3d3d;
  font-size: 18px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
